*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h1{
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    display: flex;
    justify-content: center;
    color: #ffd700c4;
}

#drinks{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 750px
}

.timer{
    display: flex;
    justify-content: flex-end;
    width: 75%;
    font-family: 'Amatic SC';
    color:honeydew;
    font-size: 20px;
}

#grid{
    display: flex;
    justify-content: center;
}


.card{
    text-align: center;
}

span{

    background-color: olive;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    font-size: 75px;
    padding:50px;
}

.card{

    color: olive;
}

.card.active{
    color: honeydew;
}

.card.match{

    color: honeydew;
}
.lives{
    color: honeydew;
    width: 75%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;

}