*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h1{
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    display: flex;
    justify-content: center;
}

#drinks{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 750px
}

.timer{
    display: flex;
    justify-content: flex-end;
    width: 75%;
    font-family: 'Amatic SC';
}

#grid{
    display: flex;
    justify-content: center;
}


.card{
    text-align: center;
}

span{

    background-color: cornflowerblue;
    display: flex;
    
    justify-content: space-between;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    font-size: 75px;
    padding:50px;
}

.card{

    color: cornflowerblue;
}

.card.active{
    color: black;
}